.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--background-color);
  font-size: var(--body-2);
}

.password-input {
  position: relative;
}

.icon-wrapper svg {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(60%, -70%);
  z-index: 1;
  color: var(--foreground-color);
}

.password-input input {
  font-family: inherit;
  padding: 1.2rem 3.2rem;
  background-color: var(--background-color);
  border-radius: 100px;
  border: none;
  width: 100%;
}

.password-input input::placeholder {
  font-family: inherit;
  font-size: inherit;
  color: var(--light-gray-color);
}

.password-input input:focus {
  outline: none;
}

.button {
  all: unset;
  border: none;
  color: var(--foreground-color);
  font-size: var(--h6);
  padding: 0;
}

.button svg {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-50%, -50%);
}
