.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--background-color);
  font-size: var(--body-2);
}

.weight-input {
  position: relative;
}

.weight-input input {
  font-family: inherit;
  padding: 1.2rem 3.2rem 1.2rem 2.4rem;
  background-color: var(--background-color);
  border-radius: 100px;
  border: none;
  width: 50%;
}

.weight-input input::placeholder {
  font-family: inherit;
  font-size: inherit;
  color: var(--light-gray-color);
}

.weight-input input:focus {
  outline: none;
}

.weight {
  color: var(--foreground-color);
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translate(-150%, 25%);
}
