.title {
  font-size: var(--small);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--foreground-color);
  margin-top: 3.2rem;
  display: inline-block;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 1.6rem 0 3.2rem;
  background-color: var(--background-color);
  border-radius: 8px;
  padding: 1.6rem;
}

.empty-records {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-size: var(--small);
  font-weight: 500;
  color: var(--foreground-color);
}

.icon {
  height: 12.8rem;
  width: 12.8rem;
  margin-bottom: 1.6rem;
}
