.greetings {
  font-size: var(--body-1);
  color: var(--accent-color);
  margin: 2.4rem 0;
}

.card {
  background-color: var(--background-color);
  border-radius: 8px;
  padding: 2.4rem;
  color: var(--foreground-color);
}

.card-text {
  font-size: var(--small);
  text-transform: uppercase;
}
