.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.6rem;
  height: 4rem;
  padding: 0 1.6rem;
  font-size: var(--body-2);
  color: var(--foreground-color);
  background-color: var(--accent-light-color-opaque);
  border-radius: 8px;
}

.amount {
  font-weight: 600;
}

.drink {
  font-size: var(--small);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
