.background {
  background-color: var(--foreground-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.form h2 {
  font-size: var(--h6);
  color: var(--background-color);
  text-align: center;
  margin: 6.4rem 0 4.8rem;
}

.button {
  margin-top: 6.4rem;
  text-align: center;
}
