.background {
  background-color: var(--accent-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.title {
  font-size: var(--h6);
  color: var(--background-color);
  text-align: center;
  padding: 6.4rem 0 7.2rem;
}

.button {
  margin-top: 4rem;
  text-align: center;
}

.message {
  color: var(--red-color);
  font-size: var(--small);
  font-family: inherit;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
}

.message svg {
  height: 1.8rem;
  width: 1.8rem;
}
