.background {
  background-image: var(--background-gradient);
  height: 100vh;
}

.wrapper {
  padding: 4.8rem 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.image {
  height: 25.6rem;
  width: 25.6rem;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--background-color);
  font-size: var(--body-2);
  text-align: center;
}

.text h1 {
  font-size: var(--h4);
  line-height: 3.8rem;
  padding: 0 2rem;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin-top: 2rem;
}
