.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--background-color);
  font-size: var(--body-2);
}

.email-input {
  position: relative;
}

.email-input svg {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(60%, -70%);
  z-index: 1;
  color: var(--foreground-color);
}

.email-input input {
  font-family: inherit;
  padding: 1.2rem 2.4rem 1.2rem 3.2rem;
  background-color: var(--background-color);
  border-radius: 100px;
  border: none;
  width: 100%;
}

.email-input input::placeholder {
  font-family: inherit;
  font-size: inherit;
  color: var(--light-gray-color);
}

.email-input input:focus {
  outline: none;
}
